<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <form onsubmit="handleSubmit()" action="/login" method="post">
      <input type="text" id="username" />
      <button type="submit">Login</button>
    </form>
    <script>
      const handleSubmit = () => {
        const name = document.getElementById("username").value;
        if (!name) return;
        localStorage.setItem("username", JSON.stringify(name));
      };
    </script>
  </body>
</html>
